@media screen and (max-width: 767px){
    .employees-section{
        background-color: var(--employe-bg-color);
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .employees{
        display: flex;
        list-style: none;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .employee-card{
        margin-bottom: 30px;
    }
    .employee-photo{
        width: 450px;
        height: 460px;
    }
}
@media  screen and (min-width: 768px){
    .employees-section{
        background-color: var(--employe-bg-color);
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .employees{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .employee-card{
        margin-bottom: 30px;
    }
    .employee-photo{
        width: 354px;
        height: 374px;
    }
}
@media screen and (min-width: 1200px){
    .employee-photo{
        width: 270px;
        height: 260px;
    }
}
.employees-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color:var(--primary-title-color);
    margin-top: 30px;
}
.employees-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
}
.employee-card{
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
}

