:root{
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --hover-color:#2196F3;
    --hero-btn-hover-color:#188CE8;
    --secondary-text-color: #ffffff;
    --primary-bg-color: #ffffff;
    --employe-bg-color: #F5F4FA;
    --secondary-bg-color: #2F303A;
    --border-color: #ECECEC;
    --card-border:#EEEEEE;
    --icon-empty:#AFB1B8;
    --service-overlay:rgba(47, 48, 58, 0.8);
    --footer-link: rgba(255, 255, 255, 0.6);
    --footer-social:rgba(255, 255, 255, 0.1);
    --overlay:rgba(33, 150, 243, 0.9);
    --overlay-form:rgba(33, 150, 243, 1);
    --backdrop:rgba(0, 0, 0, 0.2);
}